@page "/GetList"

@using WebUrlListBlazorAP.Data
@using Blazored.LocalStorage
@inject WebUrlDataService service
@inject IJSRuntime jsInterop
@inject ILocalStorageService localstorage;

<Toasts class="p-3" Messages="messages" AutoHide="true" Delay="1000" Placement="ToastsPlacement.TopCenter" />

<h3>GetList</h3>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Url</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in list)
        {
            <tr>
                <td>@item.Name</td>
                <td><a href="@item.Url" target="_blank">@item.Url</a></td>
                <td><input type="button" value="複製文字" @onclick="@(e => CopyToClipboard(@item.Url))" /></td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<WebUrlData> list = new List<WebUrlData>();
    private string message = string.Empty;
    List<ToastMessage> messages = new List<ToastMessage>();

    protected override async Task OnInitializedAsync()
    {
        list = service.GetList();
        List<WebUrlData> list2 = await localstorage.GetItemAsync<List<WebUrlData>>(nameof(WebUrlData));
        if (list.Count == 2)
        {
            if (list2 != null && list2.Count != 0)
            {
                list.AddRange(list2);
            }
        }
    }

    private async Task CopyToClipboard(string text)
    {
        await jsInterop.InvokeVoidAsync("navigator.clipboard.writeText", text);

        ToastMessage message = new ToastMessage
            {
                Type = ToastType.Info,
                Message = $"已複製",
            };
        messages.Add(message);
    }
}
